
.navbar-custom {
    background-color: #f7f7f7;
}

#my-image {
    width: 100px !important; /* Replace with your desired width */
    height: 50px !important; /* Replace with your desired height */
    object-fit: contain;
}

#nav-link:hover,
#nav-link:active {
    color: #6FBEC3;
}

#nav-link-item:hover {
    background-color: #6FBEC3;
    color: #F5F5F5;
}

.navbar-nav {
    margin: 0 auto;
}

#btn-pri {
    color: #6FBEC3;
    border-color: #6FBEC3;
}

#btn-pri, #btn-pri:hover {
    background-color: #6FBEC3;
    color: #F5F5F5;
}

#btn-sec {
    color: #6FBEC3;
    border-color: #6FBEC3;
}

#btn-sec:hover {
    background-color: #6FBEC3;
    color: #F5F5F5; /* Make text color white when button is hovered */
}


/*header ------------------------------*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #E0F0FF; /* This is a placeholder color; adjust as needed */
}

.header-left {
    flex: 1;
    padding-right: 20px;
}

.header-right {
    flex: 1;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.header-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.header-text {
    font-size: 16px;
    color: #7a7a7a; /* Placeholder color; adjust as needed */
}

.header-image {
    max-width: 100%; /* This will ensure the image doesn't overflow its container */
    height: auto; /* This will maintain the image's aspect ratio */
    border-radius: 10px; /* Optional: if you want rounded corners */
}

/* roadmap-----------------------------*/
.responsive-container {
    width: 100%;
    /*max-width: desired-width; !* You can specify the maximum width you want for the container, e.g., 600px. *!*/
    position: relative;
}

.responsive-image {
    width: 100%; /* This ensures the image takes up the full width of the container. */
    height: auto; /* This maintains the aspect ratio of the image. */
}

/*info containers---------------------- */
#info-container-1 {
    background-color: #6FBEC3;
    padding: 50px;
    border-radius: 5px;
}

#info-container-2 {
    background-color: white;
}

/* Unique IDs for styling text in info-container-2 */
#h1-info-2 {
    color: black;
    font-size: 3rem; /* Assuming you want to keep the size the same as #h1-info-1 */
}

#p-info-2 {
    color: black;
    font-size: 1.2rem; /* Assuming you want to keep the size the same as #p-info-1 */
}

/* Media query for responsive design */
@media (max-width: 768px) {
    #info-container-1 .col-lg-5,
    #info-container-2 .col-lg-5 {
        width: 100%;
    }
}

/* Styles for unique text IDs in info-container-1 */
#h1-info-1 {
    font-size: 3rem;
    color: white;
}

#p-info-1 {
    font-size: 1.2rem;
    color: white;
}

#btn-info {
    color: #0E428B;
    border-color: #0E428B;
}

#btn-info:hover {
    background-color: #0E428B;
    color: white; /* Make text color white when button is hovered */
}

#info-img {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 160px;
}

/*Info block 3 ---------------------*/
.cards-container{
    background-color: #f7f7f7;
}
.card-container {
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: auto;
  position: relative; /* Needed for absolute positioning of children */
}

.world-icon {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.icon-link {
  display: block;
  position: relative;
}

/* This will go inside your .icon-link container */
.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 24px;
  color: white;
  pointer-events: none;
}

.icon-link:hover .icon-overlay {
  color: #6FBEC3;
  opacity: 5;
}

.card-content p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.icon-link:hover .world-icon {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/*FAQ container---------------------*/
#faq-container-in-separate-page {
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
}
#faq-container {
    background-color: #6FBEC3;
    padding: 50px;
    border-radius: 10px;
}
#faq-container h2, #faq-container p {
    color: #333333; /* This sets the text color to a dark grey */
}
.accordion-button {
    background-color: #FFFFFF; /* This sets the accordion button background color to white */
    color: black; /* This sets the accordion button text color to dark grey */
    border-color: black; /* This is Bootstrap's default border color for buttons, which looks like the one in the screenshot */
}
.accordion-button:not(.collapsed) {
    background-color: #E9ECEF; /* A slightly darker shade for the active accordion button */
    color: #333333;
}

.accordion-button:focus {
    box-shadow: none; /* Removes the focus outline for a cleaner look, if desired */
}
#btn-sec {
    color: #333333; /* Sets the button text color to dark grey */
    border-color: #333333; /* Assuming you want to keep this color for the button border as in your original CSS */
}
/* This ensures that the color is darker for the collapsed button text and lighter when expanded */
.accordion-button.collapsed {
    color: black;
}

/*footer -------------*/
.footer {
    background-color: #f7f7f7;
    padding: 40px 0;
}

.footer h4, .footer p {
    margin-bottom: 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li a {
    margin-bottom: 10px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-links li a:hover {
    color: #6FBEC3;
}

/*-----------------other styles for components-----------------*/
/*-----------------Hero small-----------------*/
.bg-light {
    background-color: #E0F0FF !important;
}

.display-1 {
    font-size: 3rem;
    font-weight: 300;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

/*-----------------content pages-----------------*/

.card {
    border: none;
    border-radius: 0.5rem;
}

.card-header {
    background: none;
    border: none;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    font-size: 1rem;
}

.card-text {
    font-size: 0.875rem;
}

.card-date {
    font-size: 0.75rem;
    color: gray;
}

.card-img-top {
    width: 100%;
    height: 8rem; /* You might want to adjust this depending on your images */
    object-fit: cover;
}

.grid {
    padding: 1rem;
}