{% extends "base/base.html" %}
{% load static %}
{% block title %}DDVJW - Artikels {% endblock %}


{% block template %}
<!-- hero small -->
  <div class="hero-body custom-hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Artikels
      </p>
      <p class="subtitle">
        Hier vind je alle artikels over de verschillende onderwerpen.
      </p>
    </div>
  </div>

<!--search bar-->
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'article_search' %}" method="get">
                <div class="input-group rounded">
                    <input type="text" class="form-control" placeholder="Search articles..." name="q"  style="border-radius: 10px">
                    <div class="input-group-append ml-3">
                        <button class="button is-rounded is-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="latest-c container">
    <!-- articles.html -->
    {% if articles %}
        <div class="columns is-multiline">
            {% for article in articles %}
                <div class="column is-one-quarter-desktop is-half-tablet">
                    <a href="{% url 'article_detail' article.slug %}" class="text-white">
                        <div class="card rounded-5">
                            <div class="card-image">
                                {% if article.picture %}
                                    <figure class="image is-4by4">
                                        <img class="rounded-5" src="{{ article.picture.url }}" alt="{{ article.title }}">
                                    </figure>
                                {% else %}
                                    <figure class="image is-4by5">
                                        <img class="rounded-5" src="{% static 'content_app/images/default-article.jpg' %}" alt="Default image">
                                    </figure>
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">{{ article.title }}</p>
                                        <p class="subtitle is-6">{{ article.description|truncatewords:40|safe }}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    <time datetime="{{ article.publish }}">{{ article.publish|date:"d M, Y" }}</time>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            {% if query %}
                <figure class="image is-4by3">
                    <img src="{% static 'content_app/images/404_not_found.jpg' %}" alt="No articles found">
                </figure>
            {% endif %}
            <p>Geen artiekels gevonden!</p>
        </div>
    {% endif %}
</div>


{% endblock template %}