{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'content_app/css/main.css' %}">
    <title>Didactiek Die Voor Jou Werkt</title>
    <link rel="icon" href="{% static 'content_app/favicon-32x32.png' %}" type="image/x-icon"/>
</head>

<body class="pp">

<!--include navbar-->
{% include 'content_app/components/navbar.html' %}

<!-- hero small -->
<div class="container-fluid bg-light text-center py-5">
    <div class="row">
        <div class="col">
            <h1 class="display-1">Blog</h1>
        </div>
    </div>
</div>

<!--search bar-->
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'blog_search' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search articles..." name="q">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <!-- articles.html -->
    {% if blogs %}
        <div class="row grid">
            {% for blog in blogs %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="{% url 'blog_detail' blog.slug %}" class="card-link text-decoration-none link-dark">
                        <div class="card">
                            {% if blog.picture %}
                                <img class="card-img-top" src="{{ blog.picture.url }}" alt="{{ blog.title }}">
                            {% else %}
=                                <img class="card-img-top" src="{% static 'content_app/images/default-article.jpg' %}"
                                     alt="Default image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.title }}</h5>
                                <p class="card-text">{{ blog.description|truncatewords:50 }}</p>
                                <p class="card-date">{{ blog.publish|date:"d M, Y" }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if query %}
            <div class="text-center">
                <img src="{% static 'content_app/404_not_found.jpg' %}" alt="No articles found" class="img-fluid">
                <p>Geen blogs gevonden!</p>
            </div>
        {% else %}
            <div class="text-center">
                <p>Geen blogs gevonden!</p>
            </div>
        {% endif %}
    {% endif %}
</div>

<!--footer section-->
{% include 'content_app/components/footer.html' %}

{% bootstrap_javascript %}
</body>
</html>
