{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'content_app/css/styles.css' %}">
    <title>Didactiek Die Voor Jou Werkt</title>
    <link rel="icon" href="{% static 'content_app/favicon.ico' %}" type="image/x-icon"/>
</head>
<body class="pp">


<!--include navbar-->
{% include 'content_app/components/navbar.html' %}
<!-- header -->
{% include 'content_app/components/header.html' %}


<!--Faq section-->
{% include 'content_app/components/FAQComponent.html' %}

{#footer section#}
{% include 'content_app/components/footer.html' %}

{% bootstrap_javascript %}
</body>
</html>






