{% extends "base/base.html" %}
{% load static %}
{% block title %}DDVJW - Homepagina {% endblock %}



{% block template %}
    <!-- hero -->
    <section class="hero is-halfheight">
        <div class="hero-body p-0">
            <div class="columns is-gapless m-0">

                <!-- Left Column for Text -->
                <div class="column has-background-primary has-text-white is-flex is-align-items-center is-justify-content-center">
                    <div class="content p-5">
                        <h2 class="subtitle text-white has-text-weight-light	">DDVJW</h2>
                        <h1 class="title text-white">Didactiek Die Voor Jou Werkt!</h1>
                        <p>Onderbouwd, doelgericht en samen het onderwijs op uw <br>school ontwikkelen</p>
                    </div>
                </div>

                <!-- Right Column for Image -->
                <div class="column p-0">
                    <figure class="image m-0">
                        <img src="{% static 'content_app/images/hero_2.jpg' %}" alt="Team Image"
                             style="height: 100vh; object-fit: cover; width: 100%;">
                    </figure>
                </div>

            </div>
        </div>
    </section>


    <div class="">
        <div class="container">
            <h2 class="pb-3 pt-2 border-bottom mb-5 title text-center"></h2>
            <!--first section-->
            <div class="row align-items-center hit d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">1</div>
                </div>
                <div class="col-6">
                    <h5><strong>Oriënteren</strong></h5>
                    <p>De bedoeling van de les wordt concreet en beeldend gemaakt voor de leerlingen. Leerlingen denken
                        na over het voorbeeld door vragen te beantwoorden als: ‘Wat ga je maken?’, ‘Waar was je precies
                        mee bezig?’, ‘Wat heb je daarvoor nodig?’, ‘Wat wil je bereiken?’, ‘Hoe ziet je eindresultaat er
                        uit?’ (feed up), etc. De voorkennis van de leerlingen wordt (in samenspraak) interactief
                        geactiveerd.</p>
                </div>
                <div class="col-2">
                    <img class="icon-img d-sm-inline-block" src="{% static 'content_app/SVG/Iconen_DDVJW_01.svg' %}"
                         style="height: 250px; width: 250px" alt="icon">
                </div>
            </div>
            <!--path between 1-2-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--second section-->
            <div class="row align-items-center justify-content-end hiw d-flex">
                <div class="col-2">
                    <img class="icon-img" src="{% static 'content_app/SVG/Iconen_DDVJW-02.svg' %}"
                         style="height: 250px; width: 250px" alt="icon">
                </div>
                <div class="col-6 text-right">
                    <h5><strong>Instrueren</strong></h5>
                    <p style="text-align: left">Het leerdoel wordt besproken door leerlingen een strategie te laten
                        verwoorden van de
                        verschillende stappen die zij moeten zetten om het doel te realiseren. De leerlingen worden
                        gericht interactief en strategisch geïnstrueerd over hun leerproces, hun zelfregulatie en de
                        bijdrage aan hun eigen ontwikkeling. Leerlingen maken eigen gedachten zichtbaar door ‘het
                        waarom’ van de strategie onder woorden te brengen.</p>

                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">2</div>
                </div>
            </div>
            <!--path between 2-3-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--third section-->
            <div class="row align-items-center hit d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">3</div>
                </div>
                <div class="col-6">
                    <h5><strong>Oefenen en differentiëren</strong></h5>
                    <p>Leerlingen oefenen onder begeleiding met het uitvoeren van belangrijke/complexe deeltaken van het
                        werkstuk/de opdracht. Leerlingen krijgen directe feedback op het oefenen en worden interactief
                        geïnstrueerd in wat nog beter kan. Sterkere leerlingen krijgen meer of extra
                        oefenstof/(deel)taken geïnstrueerd.</p>
                </div>
                <div class="col-2">
                    <img class="icon-img" src="{% static 'content_app/SVG/Iconen_DDVJW-03.svg' %}"
                         style="height: 250px; width: 250px" alt="icon">
                </div>
            </div>
            <!--path between 3-4-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--second section-->
            <div class="row align-items-center justify-content-end hiw d-flex">
                <div class="col-2">
                    <img class="icon-img" src="{% static 'content_app/SVG/Iconen_DDVJW-04.svg' %}"
                         style="height: 250px; width: 250px" alt="icon">
                </div>
                <div class="col-6 text-right">
                    <h5><strong>Zelfstandig werken</strong></h5>
                    <p style="text-align: left">Leerlingen krijgen ondersteuning door verwijzingen naar strategieën of
                        plannen en werken
                        zelfstandig zonder ongevraagde hulp. Ze ontvangen taakgerichte complimenten en feedback op hun
                        leerproces, verwoorden hun vorderingen en reflecteren op hun strategieën en persoonlijke groei.
                        Zwakkere leerlingen krijgen extra aandacht voor efficiënte technieken, terwijl sterkere
                        leerlingen begeleiding krijgen bij verdere opdrachten of verdieping.</p>

                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">4</div>
                </div>
            </div>
            <!--path between 4-5-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--third section-->
            <div class="row align-items-center hit d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">5</div>
                </div>
                <div class="col-6">
                    <h5><strong>Evalueren</strong></h5>
                    <p>Samen met de alle leerlingen wordt (individueel) teruggekeken op het leerdoel en het leerproces.
                        Leerlingen verwoorden wat moeilijk en gemakkelijk was. Leerlingen verwoorden hoe zij om zijn
                        gegaan met dat wat moeilijk was (zelfregulatie). Leerlingen evalueren interactief (in
                        samenspraak) wat de les heeft bijgedragen aan hun ontwikkeling, bijvoorbeeld doordat ze
                        verwoorden wat goed is gegaan of hoe zij om zijn gegaan met wat minder goed is gegaan
                        (zelfregulatie). Leerlingen verwoorden wat er nodig is voor een nog beter resultaat (feed
                        forward). Alle leerlingen ontvangen (individueel of in de groep) feedback</p>
                </div>
                <div class="col-2">
                    <img class="icon-img" src="{% static 'content_app/SVG/Iconen_DDVJW-05.svg' %}"
                         style="height: 250px; width: 250px" alt="icon">
                </div>
            </div>
            <h2 class="pb-3 pt-2 mb-5 title text-center"></h2>
        </div>
    </div>

    <!-- Section for Latest Articles -->
    <div class="latest-c mb-5 py-3">
        <div class="container mt-5">
            <h2 class="pb-3 pt-2 border-bottom mb-5 title text-center">Meest recente Artikelen</h2>
            <div class="row grid card-container">
                {% for article in articles %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="{% url 'article_detail' article.slug %}"
                           class="card-link text-decoration-none link-dark">
                            <div class="card rounded-5">
                                {% if article.picture %}
                                    <img class="card-img-top rounded-5" src="{{ article.picture.url }}"
                                         alt="{{ article.title }}">
                                {% else %}
                                    <img class="card-img-top" src="{% static 'content_app/images/404_not_found.jpg' %}"
                                         alt="Default image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><strong>{{ article.title | truncatewords:13 }}</strong></h5>
                                    <p class="card-text">{{ article.description| truncatewords:40 | safe }}</p>
                                    <p class="card-date">{{ article.publish|date:"d M, Y" }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row m-4">
                <div class="col text-center">
                    <a href="{% url 'articles_view' %}" class="btn button is-primary is-rounded">Alle artikelen</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Section for Latest Blogs -->
    <div class=" latest-c bg-light mb-5 py-3">
        <div class="container mt-5">
            <h2 class="pb-3 pt-2 border-bottom mb-5 title text-center">Meest recente Blogs</h2>
            <div class="row grid card-container">
                {% for blog in blogs %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="{% url 'blog_detail' blog.slug %}" class="card-link text-decoration-none link-dark">
                            <div class="card rounded-5">
                                {% if blog.picture %}
                                    <img class="card-img-top rounded-5" src="{{ blog.picture.url }}"
                                         alt="{{ blog.title }}">
                                {% else %}
                                    <img class="card-img-top" src="{% static 'content_app/images/404_not_found.jpg' %}"
                                         alt="Default image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><strong>{{ blog.title |truncatewords:13 }}</strong></h5>
                                    <p class="card-text">{{ blog.description|truncatewords:40 | safe}}</p>
                                    <p class="card-date">{{ blog.publish|date:"d M, Y" }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row m-4">
                <div class="col text-center">
                    <a href="{% url 'blog_view' %}" class="btn button is-primary is-rounded">Alle blogs</a>
                </div>
            </div>
        </div>
    </div>




    <!--  info block 2 -->
    <div class="container-fluid py-5">
        <div class="row justify-content-center align-items-center">
            <!-- Text Section -->
            <div class="col-lg-5 mt-5">
                <h1 class="mb-4 display-4" id="h1-info-1">Title Here</h1>
                <p class="mb-4 lead" id="p-info-1">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam nec dapibus nisi.
                    Sed fermentum purus ac tempor vulputate.</p>
                <a href="#" class="btn button is-rounded" id="lid-button">Lees meer!</a>
            </div>
            <!-- Image Section -->
            <div class="col-lg-5 mt-5">
                <figure class="image is-16by9">
                    <iframe class="has-ratio rounded-5 shadow-lg" width="640" height="360"
                            src="https://www.youtube-nocookie.com/embed/nn0y-Rj5Zuw?si=uSb4XJU22e5P_h_F&amp;controls=0"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </figure>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 bg-light">
        <div class="row justify-content-center align-items-center">
            <!-- Image Section -->
            <div class="col-lg-5 mt-5">
                <img src='{% static "content_app/images/temp.jpg" %}' alt="Placeholder Image"
                     class="img-fluid rounded-5 shadow-lg" id="info-img-1">
            </div>
            <!-- Text Section -->
            <div class="col-lg-5 mt-5">
                <h1 class="mb-4 display-4" id="h1-info-1">Onze podcast luisteren</h1>
                <p class="mb-4 lead" id="p-info-1">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam nec dapibus nisi.
                    Sed fermentum purus ac tempor vulputate.</p>
                <a href="{% url 'podcast' %}" class="btn button is-rounded" id="lid-button">Lees meer!</a>
            </div>
        </div>
    </div>

    <!--Faq section-->
    <div class="container-lg mt-5">
        <h2 class="pb-3 pt-2 border-bottom mb-5 title text-center"> FAQ's</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="accordionDidactiek">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Wat is de didactische methode?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionDidactiek">
                            <div class="accordion-body p-4">
                                Didactische methoden zijn de strategieën die door de instructeur worden gebruikt om
                                studenten te helpen bij het leren. Deze methoden variëren afhankelijk van de specifieke
                                behoeften van de student en het onderwerp.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Hoe verbeter je studentenbetrokkenheid?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionDidactiek">
                            <div class="accordion-body p-4">
                                Studentenbetrokkenheid kan worden verbeterd door interactieve lessen, real-world
                                toepassingen van kennis, en door studenten een actieve rol in hun leerproces te geven.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Hoe verbeter je studentenbetrokkenheid?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionDidactiek">
                            <div class="accordion-body p-4">
                                Studentenbetrokkenheid kan worden verbeterd door interactieve lessen, real-world
                                toepassingen van kennis, en door studenten een actieve rol in hun leerproces te geven.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'FAQ' %}" class="btn button is-primary rounded-pill" role="button">FAQ's</a>
        </div>
    </div>


{% endblock %}






