{% extends "base/base.html" %}
{% load static %}
{% block title %} Homepagina {% endblock %}



{% block template %}
    <!-- hero -->
    <div class="header-container">
        <div class="header-left">
            <p class="header-subtitle text-white">DDVJW</p>
            <h1 class="header-title text-white">Didactiek Die Voor Jou Werkt</h1>
            <p class="header-text text-white">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nullam nec dapibus nisi.
                Sed fermentum purus ac tempor vulputate.
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nullam nec dapibus nisi.
                Sed fermentum purus ac tempor vulputate.
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nullam nec dapibus nisi.
                Sed fermentum purus ac tempor vulputate.
            </p>
        </div>
        <div class="header-right">
            <img src='{% static 'content_app/hero.png' %}' alt="Header Image" class="header-image">
        </div>
    </div>

{#        <!-- roadmap -->#}
{#        <img class="responsive-image" src="{% static 'content_app/roadmap.svg' %}" alt="Roadmap Image">#}

    <div class="">
        <div class="container">
            <h2 class="pb-3 pt-2 border-bottom mb-5 title text-center">Vertical Left-Right Timeline</h2>
            <!--first section-->
            <div class="row align-items-center hit d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">1</div>
                </div>
                <div class="col-6">
                    <h5>Fully Responsive</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi
                        orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                </div>
            </div>
            <!--path between 1-2-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--second section-->
            <div class="row align-items-center justify-content-end hiw d-flex">
                <div class="col-6 text-right">
                    <h5>Using Bootstrap</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi
                        orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">2</div>
                </div>
            </div>
            <!--path between 2-3-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--third section-->
            <div class="row align-items-center hit d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">3</div>
                </div>
                <div class="col-6">
                    <h5>Now with Pug and Sass</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi
                        orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                </div>
            </div>
        </div>
    </div>


    <!--  info block 2 -->
    <div class="container-fluid py-5 bg-light">
        <div class="row justify-content-center align-items-center">
            <!-- Text Section -->
            <div class="col-lg-5 mt-5">
                <h1 class="mb-4 display-4" id="h1-info-1">Title Here</h1>
                <p class="mb-4 lead" id="p-info-1">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam nec dapibus nisi.
                    Sed fermentum purus ac tempor vulputate.</p>
                <a href="#" class="btn btn-primary btn-lg rounded-pill" role="button">Learn More →</a>
            </div>
            <!-- Image Section -->
            <div class="col-lg-5 mt-5">
                <img src='{% static "content_app/thumbnail.png" %}' alt="Placeholder Image"
                     class="img-fluid rounded-5 shadow-lg" id="info-img-1">
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 bg-light">
        <div class="row justify-content-center align-items-center">
            <!-- Image Section -->
            <div class="col-lg-5 mt-5">
                <img src='{% static "content_app/thumbnail.png" %}' alt="Placeholder Image"
                     class="img-fluid rounded-5 shadow-lg" id="info-img-1">
            </div>
            <!-- Text Section -->
            <div class="col-lg-5 mt-5">
                <h1 class="mb-4 display-4" id="h1-info-1">Title Here</h1>
                <p class="mb-4 lead" id="p-info-1">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam nec dapibus nisi.
                    Sed fermentum purus ac tempor vulputate.</p>
                <a href="#" class="btn btn-primary btn-lg rounded-pill" role="button">Learn More →</a>
            </div>
        </div>
    </div>

    <!--Faq section-->
    <div class="hero-body has-background-primary" id="home-page-hero">
        <div class="container has-text-centered">
            <p class="title">
                Meest gestelde vragen
            </p>
        </div>
    </div>
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="accordionDidactiek">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Wat is de didactische methode?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionDidactiek">
                            <div class="accordion-body p-5">
                                Didactische methoden zijn de strategieën die door de instructeur worden gebruikt om
                                studenten te helpen bij het leren. Deze methoden variëren afhankelijk van de specifieke
                                behoeften van de student en het onderwerp.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Hoe verbeter je studentenbetrokkenheid?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionDidactiek">
                            <div class="accordion-body p-5">
                                Studentenbetrokkenheid kan worden verbeterd door interactieve lessen, real-world
                                toepassingen van kennis, en door studenten een actieve rol in hun leerproces te geven.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- article section -->
    <div>
        <div class="container mt-5 p-3">
            <div class="row grid">
                {% for article in articles|slice:"-4" %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="{% url 'article_detail' article.slug %}"
                           class="card-link text-decoration-none link-dark">
                            <div class="card h-100">
                                {% if article.picture %}
                                    <img class="card-img-top" src="{{ article.picture.url }}" alt="{{ article.title }}">
                                {% else %}
                                    <!-- Load a default image if no picture is found -->
                                    <img class="card-img-top"
                                         src="{% static 'content_app/images/default-article.jpg' %}"
                                         alt="Default image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.description|truncatewords:25 }}</p>
                                    <p class="card-date">{{ article.publish|date:"d M, Y" }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row m-4">
                <div class="col text-center">
                    <a href="{% url 'articles_view' %}" class="button is-primary is-rounded ">Alle
                        artikels</a>
                </div>
            </div>
        </div>
    </div>
    <!-- blog section -->
    <div>
        <div class="container mt-5">
            <div class="row grid">
                {% for blog in blogs|slice:"-4" %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="{% url 'blog_detail' blog.slug %}" class="card-link text-decoration-none link-dark">
                            <div class="card">
                                {% if blog.picture %}
                                    <img class="card-img-top" src="{{ blog.picture.url }}" alt="{{ blog.title }}">
                                {% else %}
                                    =
                                    <img class="card-img-top"
                                         src="{% static 'content_app/images/default-article.jpg' %}"
                                         alt="Default image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ blog.title }}</h5>
                                    <p class="card-text">{{ blog.description|truncatewords:50 }}</p>
                                    <p class="card-date">{{ blog.publish|date:"d M, Y" }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row m-4">
                <div class="col text-center">
                    <a href="{% url 'blog_view' %}" class="button is-primary is-rounded">Alle blogs</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






