{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'content_app/css/main.css' %}">
    <title>{% block title %} Didactiek die voor jou werkt {% endblock title %}</title>
    <link rel="icon" href="{% static 'content_app/favicon-32x32.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="pp">
<!-- Navbar -->


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'content_app/Logo_DDVJW_splitted.png' %}" alt="Logo">
            DDVJW
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample" id="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="nav-links" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Inspiratie
                </a>

                <div class="navbar-dropdown">
                    {% if user.is_authenticated %}
                        <a class="navbar-item" href="#">Blog (Premium)</a>
                        <a class="navbar-item" href="{% url 'premium_articles_view' %}">Artikels (Premium)</a>
                        <a class="navbar-item" href="#">Podcast (Premium)</a>
                    {% else %}
                        <a class="navbar-item" href="{% url 'blog_view' %}">Blog</a>
                        <a class="navbar-item" href="{% url 'articles_view' %}">Artikels</a>
                        <a class="navbar-item" href="#">Podcast</a>
                    {% endif %}
                </div>
            </div>

            <a class="navbar-item" href="{% url 'FAQ' %}">
                FAQ
            </a>
            <a class="navbar-item" href="{% url 'contact' %}">
                Contact
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                        <span class="navbar-item">Welkom {{ user.first_name }}!</span>
                        <i class="bi bi-person-circle pr-4"></i>
                        <a href="{% url 'logout' %}" class="button is-primary is-rounded">Uitloggen</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="button is-primary">Inloggen</a>
                        <a href="{% url 'signup' %}" class="button is-light">Lid worden</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- Content -->
{% block template %}

{% endblock template %}
<!-- footer -->
<div class="footer mt-5">
    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-4">
                <h4><strong>Onderwijsbureau van Leeuwen</strong></h4>
                <p>Onderwijsbureau Van Leeuwen B.V. is specialist in schoolontwikkeling en het trainen en coachen van
                    docenten. Ook voor het verzorgen van studiedagen, het geven van onderwijsadvies en een uniek
                    coachingpakket voor docenten om PrO en VSO leerlingen doelgericht te coachen, bent u bij ons aan het
                    juiste adres!
                </p>
            </div>
            <!-- Second Column -->
            <div class="col-md-4" id="sec-col">
                <h4><strong>Contact</strong></h4>
                <ul class="footer-links">
                    <li>Anne Wadmanwei 4</li>
                    <li>8914 BD</li>
                    <li>Leeuwarden</li>
                    <li>06 25 222 765</li>
                </ul>
            </div>
            <!-- Third Column -->
            <div class="col-md-4" id="third-col">
                <h4><strong>DDVJW</strong></h4>
                <ul class="footer-links">
                    <li><i class="bi bi-house-fill"></i><a href="#">Home</a></li>
                    <li><i class="bi bi-chat-square-text-fill"></i><a href="#">Blog</a></li>
                    <li><i class="bi bi-file-text-fill"></i><a href="#">Artiekelen</a></li>
                    <li><i class="bi bi-broadcast-pin"></i><a href="#">Podcast</a></li>
                    <li><i class="bi bi-envelope-fill"></i><a href="#">Contact</a></li>
                    <li><i class="bi bi-patch-question-fill"></i><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer Bottom Text -->
        <div class="row">
            <div class="col-12 text-center mt-5">
                <p>Onderwijsbureauvanleeuwen 2023, All rights reserved.</p>
            </div>
        </div>
        <div class="row social-links">
            <div class="col-12 text-center mt-5">
                <a href="https://www.facebook.com/onderwijsbureauvanleeuwen" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.linkedin.com/company/onderwijsbureau-van-leeuwen/" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com/onderwijsbureauvanleeuwen/" target="_blank"><i
                        class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    {#    <div class="row">#}
    {#        <a href="https://www.ontwerpbureauleeuw.nl/" target="_blank"><img src="{% static 'content_app/Logo_DDVJW_splitted.png' %}"#}
    {#                                                                          alt="Logo OBL"></a>#}
    {#    </div>#}
</div>


<script src="{% static 'content_app/css/main.js' %}"></script>
{% bootstrap_javascript %}
</body>
</html>
