<div class="footer">
    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-4">
                <h4>Onderwijsbureau van Leeuwen</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare cursus sed nunc eget dictum. Sed ornare cursus sed nunc eget dictum.</p>
            </div>
            <!-- Second Column -->
            <div class="col-md-4" id="sec-col">
                <h4>Contact</h4>
                <ul class="footer-links">
                    <li>[adres]</li>
                    <li>[postcode]</li>
                    <li>[stad]</li>
                    <li>[telefoonnummer]</li>
                </ul>
            </div>
            <!-- Third Column -->
            <div class="col-md-4" id="third-col">
                <h4>DDVJW</h4>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Artiekelen</a></li>
                    <li><a href="#">Podcast</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer Bottom Text -->
        <div class="row">
            <div class="col-12 text-center mt-5">
                <p>Onderwijsbureauvanleeuwen 2023, All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
