{% load static %}
<div class="header-container">
    <div class="header-left">
        <p class="header-subtitle">DDVJW</p>
        <h1 class="header-title">Didactiek Die Voor Jou Werkt</h1>
        <p class="header-text">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam nec dapibus nisi.
            Sed fermentum purus ac tempor vulputate.
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam nec dapibus nisi.
            Sed fermentum purus ac tempor vulputate.
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam nec dapibus nisi.
            Sed fermentum purus ac tempor vulputate.
        </p>
    </div>
    <div class="header-right">
        <img src='{% static 'content_app/header.png' %}' alt="Header Image" class="header-image">
    </div>
</div>