{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
<div class="d-flex justify-content-center p-5 cards-container">
    <div class="card-container">
        <a href="#" class="icon-link">
            <img src="{% static 'content_app/hero.png' %}" alt="World Icon" class="world-icon">
            <span class="icon-overlay">
            <i class="bi bi-zoom-in"></i>
        </span>
        </a>
        <div class="card-content">
            <p>Cubilia necessitatibus nemo fusce. Sociosqu! Purus magnam quos pellentesque pulvinar condimentum metus
                integer nostra adipisci.</p>
        </div>
        <a href="#" class="btn btn-outline-primary" id="btn-sec">Lees meer</a>
    </div>

    <div class="card-container">
        <a href="#" class="icon-link">
            <img src="{% static 'content_app/hero.png' %}" alt="World Icon" class="world-icon">
            <span class="icon-overlay">
            <i class="bi bi-zoom-in"></i>
        </span>
        </a>
        <div class="card-content">
            <p>Cubilia necessitatibus nemo fusce. Sociosqu! Purus magnam quos pellentesque pulvinar condimentum metus
                integer nostra adipisci.</p>
        </div>
        <a href="#" class="btn btn-outline-primary" id="btn-sec">Lees meer</a>
    </div>

    <div class="card-container">
        <a href="#" class="icon-link">
            <img src="{% static 'content_app/hero.png' %}" alt="World Icon" class="world-icon">
            <span class="icon-overlay">
            <i class="bi bi-zoom-in"></i>
        </span>
        </a>
        <div class="card-content">
            <p>Cubilia necessitatibus nemo fusce. Sociosqu! Purus magnam quos pellentesque pulvinar condimentum metus
                integer nostra adipisci.</p>
        </div>
        <a href="#" class="btn btn-outline-primary" id="btn-sec">Lees meer</a>
    </div>

    <div class="card-container">
        <a href="#" class="icon-link">
            <img src="{% static 'content_app/hero.png' %}" alt="World Icon" class="world-icon">
            <span class="icon-overlay">
            <i class="bi bi-zoom-in"></i>
        </span>
        </a>
        <div class="card-content">
            <p>Cubilia necessitatibus nemo fusce. Sociosqu! Purus magnam quos pellentesque pulvinar condimentum metus
                integer nostra adipisci.</p>
        </div>
        <a href="#" class="btn btn-outline-primary" id="btn-sec">Lees meer</a>
    </div>

    <div class="card-container">
        <a href="#" class="icon-link">
            <img src="{% static 'content_app/hero.png' %}" alt="World Icon" class="world-icon">
            <span class="icon-overlay">
            <i class="bi bi-zoom-in"></i>
        </span>
        </a>
        <div class="card-content">
            <p>Cubilia necessitatibus nemo fusce. Sociosqu! Purus magnam quos pellentesque pulvinar condimentum metus
                integer nostra adipisci.</p>
        </div>
        <a href="#" class="btn btn-outline-primary" id="btn-sec">Lees meer</a>
    </div>



</div>