{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom border-bottom">
    <div class="container-fluid justify-content-center">
        <!-- make the logo-->
        <a class="navbar-brand" href="#">
            <img src="{% static 'content_app/horizental_logo.svg' %}" alt="Logo" class="d-inline-block align-text-top"
                 id="my-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="#">Home</a>
                </li>
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' id="nav-link" href='#'
                       role='button' data-bs-toggle='dropdown' aria-expanded='false'>
                        Inspiratie </a>
                    <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <li><a class='dropdown-item' id='nav-link-item' href='{% url 'blog_view' %}'>Blog</a></li>
                        <li><a class='dropdown-item' id='nav-link-item' href='{% url 'articles_view' %}'>Artikels</a></li>
                        <li><a class='dropdown-item' id='nav-link-item' href='#'>Podcast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="{% url 'FAQ' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url 'login' %}" class="btn me-2" id="btn-pri">Inloggen</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-secondary" id="btn-sec">Lid worden</a>
            </form>

        </div>
    </div>
</nav>
