{% extends "base/base.html" %}
{% load static %}
{% block title %} Inloggen {% endblock %}

{% block template %}
    <div class="hero-body has-background-primary">
        <div class="container has-text-centered">
            <p class="title">
                Inloggen
            </p>
            <p class="subtitle">
                Log in om je profiel te bekijken
            </p>
        </div>
    </div>


    <div class="container mt-5">
        <!-- Login Section -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Login Form -->
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <div class="mb-3 styled-input">
                                <label for="id_username">Email</label>
                                <input type="email" name="username" id="id_username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_password">Wachtwoord</label>
                                <input type="password" name="password" id="id_password" class="form-control" required>
                            </div>
                            <button type="submit" class=" btn button is-primary is-rounded w-100" id="btn-pri">LOG IN
                            </button>
                            <div class="text-center mt-3">
                                <span>OF</span>
                            </div>
                            <a href="{% url 'signup' %}">
                                <button type="button" class="btn button is-outlined is-rounded w-100 mt-3"
                                        id="lid-button">WORDT
                                    LID
                                </button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <!-- Placeholder for Right Side Image or Content -->
                <div>
                    <h2>Login</h2>
                    <p>Log in om je profiel te bekijken en toegang te krijgen tot onze exclusieve artikelen.</p>
                    <p>Als je nog geen lid bent, mis dan niet de kans om lid te worden.
                        Door lid te worden, kun je:</p>
                       <ul>
                        <li>Onbeperkte toegang tot premium artikelen over didactiek.</li>
                        <li>Diepgaande verkenning van de DDVJW methodiek.</li>
                        <li>Praktische tips en strategieën om toe te passen in je dagelijkse praktijk.</li>
                        <li>Updates over de nieuwste trends en onderzoeken in het onderwijs.</li>
                    </ul>
                    <h3>Nog geen lid?</h3>
                    <p>Registreren is eenvoudig en geeft je direct voordeel. Klik op 'Wordt Lid' om te beginnen en
                        ontdek wat DDVJW jou kan bieden.</p>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock template %}



